@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');

*{
    margin: 0%;
    border: 0%;
    padding: 0%;
    font-family: 'Archivo Black', sans-serif;
    
}

.bg{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover ;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(aboutcover.png);
}

nav{
    width: 83%;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    width: 80px;
    transition: all 0.3s;
}

nav .logo:hover {
    transform: scale(1.2);
}

nav ul li{ 
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: 0.4s;
}

nav ul li a:hover{
    color: black; 
}

h2{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.125), 7px 6px 6px rgba(0,0,0,0.8);
}

.content{
    text-align: center;
    margin-top: 3%;
}

.content h2{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.content p{
    margin: 0px 65px;
    font-size: 14px;
    color: rgb(220, 239, 255);
    
}

.content{
    animation: transitionIn 0.5s ;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(7px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
