@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
}

body{
  background: aliceblue;
  font-size: 14px;
  letter-spacing: 1px;
}

.wrapper{
  display: flex;
  width: 100%;
}

.sidebar{
  position: relative;
}

.sidebar .bg_shadow{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.sidebar_inner {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background:darkred;
  z-index: 999;
  transition: all 0.3s ease;
}

.main_container {
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: all 0.3s ease;
}

.sidebar_inner .profile_info {
  padding: 20px;
  text-align: center;
}

.sidebar_inner .profile_info .profile_img {
  border-radius: 50%;
  border: 12px solid whitesmoke;
  background-color: whitesmoke;
  width: 150px;
  margin: 0 auto 5px;
}

.sidebar_inner .profile_info .profile_img img {
  width: 100%;
  display: block;
}

.sidebar_inner .profile_info .profile_data .name {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.sidebar_inner .profile_info .profile_data span {
  color: whitesmoke;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.sidebar_inner .siderbar_menu{
  height: 490px;
  overflow: auto;
}

.sidebar_inner .siderbar_menu > li > a{
  padding: 12px 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1px;
  color: #ffffff;
}

.sidebar_inner .siderbar_menu > li > a .icon{
  font-size: 20px;
  margin-right: 15px;
}

.sidebar_inner .siderbar_menu > li.active > a,
.sidebar_inner .siderbar_menu > li > a:hover{
  background: rgb(110, 0, 0);
  color: rgb(0, 0, 0);
}

.sidebar_inner .siderbar_menu > li > a .arrow{
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.3s ease;
}

hr{
  height: 2px;
  width: auto;
  border: 2px solid white;
}

.social_media > a > i{
  font-size: 35px;
  left: 13px;
  top: 30px;
  padding: 10px 16px;
  display: inline-block;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  position: relative;
  margin-bottom: 1px;
  color: #000000;
}

.social_media > a > i:hover{
  background-color: rgb(110, 0, 0);
  border: 1px solid transparent;
  border-radius: 8px;
  color: white;
}

.navbar .logout_btn a{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 70px;
  color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 2px;
  text-align: center;
  transition: all 0.3s ease;
}

.navbar .logout_btn a:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(110, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.sidebar_inner .close{
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: none;
}

.sidebar_inner .close:hover,
.navbar .hamburger:hover{
  opacity: 0.7;
}

.navbar{
  background: darkred;
  height: 80px;
  width: 100%;
  box-shadow: 0 3px 5px rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar .hamburger{
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
  color: rgb(255, 255, 255);
  display: none;
}

.navbar .logo h3{
  color: white;
  font-size: 30px;
}

.accordion{
  background: rgb(170, 80, 80);
  height: 0px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.accordion li a{
  display: block;
  color: #ffffff;
  padding: 8px 0;
  padding-left: 50px;
  font-size: 13px;
}

.accordion li:last-child a{
  border-bottom: 0px;
}

.accordion li.active a{
  color: rgb(0, 0, 0);
  background-color: rgb(150, 70, 70);
}

.accordion li a:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(150, 70, 70);
}

.siderbar_menu > li.active .accordion{
  height: 133px;
}

.siderbar_menu > li.active .arrow{
  transform: rotate(180deg);
  transition: all 0.3s ease;
}

.container .music-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 15px; 
}

.container .music-container .box{
  height: 180px;
  width: 40%;
  display: flex;
  position: relative;
  align-items: center;
  background: aliceblue;
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,.3);
  overflow: hidden;
}

.container .music-container .box:hover{
  border: 5px solid black;
  background-color: rgb(236, 236, 236);
}

.container .music-container h6{
  font-size: 20px;
}

.container .music-container .box .image{
  height: 100%;
  width: 40%;
}

.container .music-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container .music-container .box .music{
  width: 100%;
}

.container .music-container .box .music audio{
  width: 100%;
  outline: none;
}

.container .music-container .box .music audio:-webkit-media-controls-eclosure{
background: none;
}

@media (max-width:600px){
  
  .container .music-container .box{
      height: 350px;
      width: 85%;
      flex-flow: column;
  }
  .container .music-container .box .image {
      height: 60%;
      width: 100%;

  }
  .container .music-container .box .music {
      height: 70%;
      width: 100%;
      
  }
}

@media (max-width: 1024px) {
  .sidebar_inner{
    left: -115%;
    transition: all 0.5s ease;
  }
  .main_container{
    width: 100%;
    margin-left: 0;
  }
  .navbar .hamburger,
  .sidebar_inner .close{
    display: block;
  }
  .content .item{
    width: 47%;
  }
  .wrapper.active .sidebar_inner{
  left: 0;
  transition: all 0.5s ease;
  }
  .wrapper.active .sidebar .bg_shadow{
  visibility: visible;
  opacity: 0.7;
  }
}

@media (max-width: 528px) {
  .content .item{
    width: 100%;
  }
}